form{
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 3%;
    background-color: rgb(80, 96, 124);
    border: dashed rgb(46, 28, 5) 5px;
    border-radius: 10px;
    margin-top: 10%;
}
#edit{
    padding-right: 60%;
}
label{
    font-weight: bolder;
}
#log:hover{
    background-color: green;
    border-radius: 5px;
    border: solid 2px yellow;
}
#log{
    margin-top: 1%;
}